html, body {
  height: 100%;
}

.body-content {
  font-family: 'Patua One';
  font-weight: 400;
}

#title {
  color: #FFFFFF;
}

p {
  color: white;
}

body {
  background: url(img/mainphoto.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron {
  margin-bottom: 0%;
  background-color: transparent !important;
}

.container {
  background-color: rgba(128,128,128,0.75);
  height: 100rem;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add input {
  display: block;
}
