.body-content {
  font-family: 'Patua One';
  font-weight: 400;
}

#title {
  color: #FFFFFF;
}

p {
  color: white;
}

.jumbotron {
  background: url(img/mainphoto.jpg);
  height: 1000px;
  width: 100%;
background-size:100% auto;
}

.container {
  background-color: rgba(128,128,128,0.75);
  height: 1000px;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add input {
  display: block;
}


